@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Vollkorn+SC|Permanent+Marker');

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #0e0e0e 0%,#7d7e7d 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
  position: relative;
  border-radius: 50%;
  border: 10px solid #000;
  background: url('../img/clock.jpg') fixed;
  background-position: center;
  background-size: 30em;
  height: 30em;
  width: 30em;
}

.hands {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0, 3.55, 1, 1.01);
}

#hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

#minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

#seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

#time {
  position: fixed;
  bottom: 5em;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #FFF;
}
